
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #000;
}

.input {
  position: relative;
  margin: 10px;
  width: 120px;
  height: 40px;
  background: #222;
  border-radius: 20px;
  outline: none;
  appearance: none;
  box-shadow: -5px -5px 20px rgba(202,202,202,.1),
  5px 5px 10px rgba(0,0,0,.1),
  inset -2px -2px 5px rgba(255,255,255,.1),
  inset 2px 2px 5px rgba(0,0,0,.5),
  0 0 0 2px #1f1f1f;
  cursor: pointer;
  transition: .5s;
}

.input:checked {
  background: #efb810;
}

.input:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background: linear-gradient(to top, #000, #555);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  z-index: 10;
  transition: .5s;
}

.input:checked:before {
  left: 40px;
}

.input:after {
  content: 'on';
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: transparent;
  background-color: #d9ad26;
  text-shadow: 1px 1px 1px #664300;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  transition: .8s;
  display: none;
}

.input:checked:after {
  display: inline-flex;
  z-index: 1;
}